.header {
    position: sticky;
    top: 0;

    background-color: var(--color-purple-2);
    padding-block: 12px;
    text-align: center;

    .header__title {
        color: var(--color-white);
        font-weight: 600;
        text-decoration: none;
    }

    .header__title:hover {
        color: var(--color-purple-4);
    }
}