:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-red: #ffa0a0;

  --color-purple-1: #34244e;
  --color-purple-2: #1e152c;
  --color-purple-3: #7654ac;
  --color-purple-4: #ccb0f9;
}